@import '../../assets/variables.module.scss';

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid $light-grey 1px;
  padding: 5px 0;
  color: $dark-grey;
  font-size: 12px;

  span {
    color: $blue;
    cursor: pointer;
  }
}