@import url(//db.onlinewebfonts.com/c/247f78c66460ef911348e889c9f500a5?family=Haboro+Soft+Norm+Regular);

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family:"Haboro Soft Norm Regular";
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
